<li>
  <a href="https://images.shangjiaming.com/33298935-ccac-435c-a775-391810017ed4.jpeg" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-weixin" aria-hidden="true"></i><span class="label">WeChat Public Account</span>
  </a>
</li>

<li>
  <a href="https://www.shangjiaming.top" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <span class="label">中文博客</span>
  </a>
</li>

<li>
  <a href="https://juejin.cn/user/1275089219750141" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <span class="label">掘金主页</span>
  </a>
</li>

<li>
  <a href="https://www.shangjiaming.com" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fas fa-fw fa-id-badge" aria-hidden="true"></i><span class="label">About Me</span>
  </a>
</li>

